.DS_Store
CMakeCache.txt
*.a
*.dylib
ignore_folder/
bin/
bin-xcode/
bin-emscripten/
bin-android/
build/
cmake-build-debug/
gen/
libs/
obj/
local.properties
*.so
.vs/
emsdk-portable
emsdk-portable.tar.gz
imgui.ini
.idea/workspace.xml
emscripten.zip
buildclion/
bin-mingw/
build2/
build3/
buildmingw/

win64mingw\.zip

*.TMP

bin_mingw/

build-emscripten/

\.idea/

CMakeLists\.txt\.user
