[submodule "cmake/gate"]
	path = cmake/gate
	url = https://github.com/cpp-pm/gate.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/emsdk"]
	path = external/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "cmake/polly"]
	path = cmake/polly
	url = https://github.com/cpp-pm/polly.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
