[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
	branch = 80799bdbf90ce626475635815ee18537718a05b1
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
	branch = 09241ec000060fd3d085a11d608eb7909e004c75
[submodule "dependencies/whereami"]
	path = dependencies/whereami
	url = https://github.com/gpakosz/whereami.git
	branch = 574cea670800e402c9c8325b159aa4361b645566
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = 78b28d545f79c5c5ed3e0ebae4099e44bdc6c5a6
[submodule "dependencies/gdcm"]
	path = dependencies/gdcm
	url = https://github.com/malaterre/GDCM.git
	branch = 380888084accc38a4b96177ffb2bd6e9d70ced5a
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
	branch = e6afb9cbae4064da8c3e69af3ff5c4629579c1d2
[submodule "dependencies/mingw-std-threads"]
	path = dependencies/mingw-std-threads
	url = https://github.com/meganz/mingw-std-threads.git
	branch = 3a5361a3e9308ce854dd2761d2a9416e21ad489d
[submodule "dependencies/polly"]
	path = dependencies/polly
	url = https://github.com/ruslo/polly.git
	branch = 12435ba7d3d106e3f71448b431c2fa8a0c0756e6
[submodule "dependencies/emsdk"]
	path = dependencies/emsdk
	url = https://github.com/juj/emsdk.git
[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/SDL-mirror/SDL.git
    branch = 014a8fa3d78ea8e721b808976a264dc6ba6360ed